body {
    font-family: 'Comic Neue', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow-x: hidden;
}

/* Estilo para la barra de scroll vertical */
body::-webkit-scrollbar {
    width: 8px; /* Ancho más pequeño */
}

body::-webkit-scrollbar-thumb {
    background-color: #C0C0C0; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Redondear bordes */
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la barra de scroll */
}

.day-mode {
    background-color: white;
    color: black;
}

.night-mode {
    background-color: black;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    background-color: #C0C0C0;
    padding: 20px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center; /* Mantiene los ítems a la misma altura */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 40px; /* Espacio entre los ítems */
    display: flex;
    align-items: center; /* Centra verticalmente los ítems */
}

nav ul li a {
    text-decoration: none;
    color: black; /* Cambia esto según el color que prefieras */
    font-weight: bold;
}

.night-mode nav ul li a {
    color: white;
}

button#toggle-mode {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center; /* Centra el icono verticalmente */
}

button#toggle-mode i {
    color: black; /* Color del icono en modo día */
    font-size: 24px;
}

.night-mode button#toggle-mode {
    color: white;
}

.night-mode button#toggle-mode i {
    color: white; /* Color del icono en modo noche */
}

.night-mode button#toggle-mode {
    background-color: transparent; /* Sin color de fondo en modo noche */
}

main {
    padding-top: 80px;
}

section {
    padding: 50px 20px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid silver;
}

form button {
    padding: 10px 20px;
    background-color: silver;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #A9A9A9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    button#toggle-mode {
        margin-top: 10px;
    }

    form input, form textarea {
        width: 100%;
    }
}
